* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
  align-items: center;
  min-height: 500px;
  background-color: #f2f2f2;
}
.container h1 {
  font-size: 40px;
  font-weight: 700;
}
